@import './button-animation.css';
@import './text-animation.css';
@import './border-animation.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.image-about-me{
  left: -5%;
}
.container-start{
  background-image: url('/backGroundStart.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-separate-border {
    border-right: 3px;
    border-left: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, #578cf4, #eee, #578cf4) 1;
    
}

html {
	scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}





