
.custom-button {
  box-shadow: inset 0 0 0 4px #578cf4;
  color: #FFFFFF;
  transition: color 0.25s 0.0833333333s;
  position: relative;
    cursor: pointer;
}
.custom-button::before, .custom-button::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.custom-button::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.custom-button::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.custom-button:hover {
  color: #EAB308;
}

.custom-button:hover svg {
  fill: #EAB308;
}
.custom-button:hover::before, .custom-button:hover::after {
  border-color: #EAB308;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.custom-button:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.custom-button:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

