@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.container-apresentation{
background: rgb(0,108,17);
background: linear-gradient(90deg, rgba(0,108,17,1) 0%, rgba(51,51,51,1) 100%);
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




.custom-button {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-left: 2px solid #0047ba;
}
.custom-button span {
  position: absolute;
  transition: all 200ms ease-in-out;
  /* horizontal */
  /* horizontal - small */
}
.custom-button span.line-1 {
  top: 0;
  left: 0;
  width: 158px;
  height: 2px;
  background: #0047ba;
  transform: translateX(-48px);
}
.custom-button span.line-2 {
  bottom: 0;
  right: 0;
  width: 130px;
  height: 2px;
  background: #0047ba;
  transform: translateX(-25px);
}
.custom-button span.line-3 {
  top: 0;
  right: 0;
  width: 40px;
  height: 2px;
  background: #0047ba;
  transform: translateX(20px);
}
.custom-button span.line-4 {
  bottom: 0;
  right: 0;
  width: 100px;
  height: 2px;
  background: #0047ba;
  transform: translateX(95px);
}
.custom-button span.line-5 {
  bottom: 0;
  right: 0;
  width: 2px;
  height: 50px;
  background: #0047ba;
  transform: translateY(0px);
}
.custom-button span.line-6 {
  top: 0;
  right: 0;
  width: 2px;
  height: 8px;
  background: #0047ba;
  transform: translateY(-48px);
}
.custom-button:hover .line-1 {
  transform: translateX(0px);
}
.custom-button:hover .line-2 {
  transform: translateX(-65px);
}
.custom-button:hover .line-3 {
  transform: translateX(60px);
}
.custom-button:hover .line-4 {
  transform: translateX(55px);
}
.custom-button:hover .line-5 {
  transform: translateY(44px);
}
.custom-button:hover .line-6 {
  transform: translateY(-2px);
}
